.form-container {
  width: 300px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}

.validation-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
}

.valid{
  border: 2px solid rgb(107, 255, 107);
  /* background-color: green; */
}

.invalid{
  border: 2px solid rgb(255, 130, 130);
  /* background-color: red; */

}